.header{
  background-color: black;
  height: 20vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
  color: white;
}
.taskInput{
  transform: translateY(8vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    height: 3rem;
    width: 48rem;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 15px;
    background-color: rgb(50,50,50);
    border: black 1px solid;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
  }
  button{
    box-sizing: border-box;

    height: 3rem;
    width: 5rem;
    margin-left: 1rem;
    border: none;
    border-radius: 7px;
    font-weight: bolder;
    background-color: rgb(39, 125, 206);
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    svg{
      transform: translateY(4px);
    }
  }
}

.component{
  margin-top: 8vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .taskHeader{
    width: 54rem;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    position: relative;
    min-height: 5vh;

    
    .taskCreated{
      color: rgb(32, 107, 178);
    }
    .taskCompleted{
      color: rgb(129, 91, 218)
    }
    
  }
  .quantity{
    display: inline-flex;
    font-size: .9rem;
    border: 1px solid black;
    border-radius: 10px;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    background-color: rgb(50, 50, 50);
    color: white;
    justify-content: center;
    align-items: center;
  }
}
.tasks{
  margin-top: 1vh;
  position: relative;

  width: 100%;
  .noTask{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(100,100,100);
    h2{
      font-weight: 600;
      font-size: 1rem;
      color: rgb(120,120,120);
    }
    span{
      font-size: 1rem;
    }
    svg{
      color: rgb(50,50,50);
    }
  }
}
.tasks::before{
  content: '';
  position: absolute;
  width: 54rem;
  height: 1px;
  background-color: rgb(50,50,50);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.componentTask{
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width:600px) {
  .taskInput{
    input{
      width: auto;
    }
  }
  .tasks::before{
    width: 90%;
  }
  .component .taskHeader{
    width: 20rem;
  }
}